* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    font-family: 'Yusei Magic', sans-serif;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    background: url(../images/headphones.png), radial-gradient(#F1E099, #A0B29E);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background: #444;
    padding: 2em;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    min-width: 500px;
}

nav ul li a {
    text-decoration: none;
    color: #eee;
    padding: 10px 20px;
    font-size: 1.5em;
}

nav a:hover {
    color: #E1C03D;
    border: solid #E1C03D;
    border-width: 2px 0px;
}

.logo {
    background: url(../images/laugh-track.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Yusei Magic', sans-serif;
    border: none;
    font-size: 1.5em;
    position: absolute;
    top: 20%;
    background: #444;
    color: #eee;
    padding: 10px;
    border-radius: 15px;
    outline: none;
}

/*
punch {
    top: 80%;
}
*/

button:hover {
    color: #E1C03D;
    border: solid 2px #E1C03D;
}

button:active {
    color: #A0B29E;
    border: solid 2px #A0B29E;
}

.section {
    display: none;
}

footer {
    text-align: center;
    background: #444;
    color: #eee;
}
